 {{!-- start of menu table  --}}
{{#each users}}
{{#if kitchen}}
<h1 style="text-align: center;">Your Menu </h1>
<p style="text-align: center;">Modify your Menu here</p>
<a href="/addfood"><p style="text-align: center;">Add Menu Items</p></a>

<div class="container" id="order-form">
    <div class="overflow-hidden rounded-lg border border-gray-200 shadow-md m-5">
  <table class="w-full border-collapse bg-white text-left text-sm text-gray-500">
    <thead class="bg-gray-50">
      <tr>
        <th scope="col" class="px-6 py-4 font-medium text-gray-900">Item</th>
        <th scope="col" class="px-6 py-4 font-medium text-gray-900">Ingredients</th>
        <th scope="col" class="px-6 py-4 font-medium text-gray-900">Price</th>
        <th scope="col" class="px-6 py-4 font-medium text-gray-900"></th>
        <th scope="col" class="px-6 py-4 font-medium text-gray-900"></th>
      </tr>
    </thead>
{{/if}}

    <tbody class="divide-y divide-gray-100 border-t border-gray-100">
      {{#each kitchen.food}}
      <tr class="hover:bg-gray-50">
        <th class="flex gap-3 px-6 py-4 font-normal text-gray-900">
          <div class="relative h-20 w-20">
            <img
              class="h-full w-full rounded-full object-cover object-center"
              src="{{image_url}}"
              alt=""
            />

          </div>
          <div class="text-sm">
            <div class="font-medium text-gray-700">{{food_name}}</div>
            <div class="text-gray-400">{{description}}</div>
          </div>
        </th>
        <td class="px-6 py-4">
    <p>{{ingredients}}</p>
        </td>
        <td class="px-6 py-4 item-price" value="{{price}}">${{price}}</td>
        <td class="px-6 py-4">
          <div class="flex gap-2">
          </div>
        </td>
        <td class="px-6 py-4">
          <div class="flex justify-end gap-4">
    <a id = "editFood" class="nav-link" href="/editfood/{{id}}"><i class="material-icons mr-2 text-base opacity-60">edit</i></a>
    <a id = "deleteFood" class="nav-link delete-icon" href="#" value="{{id}}"><i class="material-icons mr-2 text-base opacity-60" value="{{id}}">delete</i></a>
            </a>
          </div>
        </td>
      </tr>
    </tbody>
{{/each}}

  </table>
</div>
</div>
{{#if kitchen.food}}
    <script src="./js/deletefood.js"></script>
{{/if}}
{{/each}}

