<div class="container">
<div class="p-8 bg-white shadow mt-24">
  <div class="grid grid-cols-1 md:grid-cols-3">
    {{#each users}}
    <div class="relative">
      <div class="w-48 h-48 bg-indigo-100 mx-auto rounded-full shadow-2xl absolute inset-x-0 top-0 -mt-24 flex items-center justify-center text-indigo-500">
    <img class="w-48 h-48 bg-indigo-100 mx-auto rounded-full shadow-2xl text-indigo-500" src="{{image_url}}" alt="profile picture">
      </div>
    </div>
  </div>
  <div class="userinfo flex justify-between">
    <div class="mt-20  pb-5">
      <h1 class="text-4xl font-medium text-gray-700">User Info</h1>
      <p class="text-gray-600 font-light lg:px-16">Name: {{name}}</p>
      <p class="text-gray-600 font-light lg:px-16">Email: {{email}}</p>
      <p class="text-gray-600 font-light lg:px-16">Bio: {{bio}}</p>
      <p class="text-gray-600 font-light lg:px-16">Listed allergies: {{allergies}}</p>
      <p class="text-gray-600 font-light lg:px-16">Current Role: {{role}}</p>
      <br>
      {{/each}}
         <div class="buttons flex ">
      <a id = "editprofile" class="nav-link" href="/editprofile"><i class="material-icons mr-2 text-base opacity-60">edit</i></a>
      <a id = "deleteprofile" class="nav-link" href="/deleteprofile"><i class="material-icons mr-2 text-base opacity-60">delete</i></a>
      </div>
    </div>
    <div class="addressinfo mt-20  pb-5">
      {{#if addresses}}
      <h5 class="text-4xl font-medium text-gray-700" id="addressID" value = {{addresses.id}}>Address Info</h5>
      <p class="text-gray-600 font-light lg:px-16">{{addresses.street}}</p>
      <p class="text-gray-600 font-light lg:px-16"> {{addresses.apt_no}}</p>
      <p class="text-gray-600 font-light lg:px-16">{{addresses.city}} </p>
      <p class="text-gray-600 font-light lg:px-16">{{addresses.state}}, {{addresses.zip}}</p>
      <p class="text-gray-600 font-light lg:px-16">{{addresses.country}}</p>
      <br>
       <a id = "deleteAddress" class="nav-link" href="#"><i class="material-icons mr-2 text-base opacity-60">delete</i></a>
      {{else}}
      <p class="text-4xl font-medium text-gray-700">Address Info</p>
      <p class="text-gray-600 font-light lg:px-16 text-center">. </p>
      <p class="text-gray-600 font-light lg:px-16 text-center">. </p>
      <a href="/addaddress"><p class="text-gray-600 font-light lg:px-16 text-center">Add your info</p></a>
      <p class="text-gray-600 font-light lg:px-16 text-center">. </p>
      <p class="text-gray-600 font-light lg:px-16 text-center">. </p>
      <br>
      <a id = "addaddress" class="nav-link" href="/addaddress"><i class="material-icons mr-2 text-base opacity-60">add</i></a>
      {{/if}}
  </div>
</div>
</div>

{{#if addresses}}
<script src="./js/deleteAddress.js"></script>
{{/if}}