{{> navbar}}

{{#if address}}

{{#if kitchens}}
<div class="container flex items-center">
{{#each kitchens as |kitchen|}}
{{!-- KITCHEN CARD  --}}
<div class="col-span-4 sm:col-span-4 md:col-span-2 lg:col-span-1 xl:col-span-1 flex flex-col items-center ml-5 mr-5"
          >
            <div class="bg-white rounded-lg mt-5">
              <img
                src="{{image_url}}"
                class="h-40 rounded-md w-64"
                alt=""
              />
            </div>
            <div class="bg-white shadow-lg rounded-lg -mt-4 w-64 h-100">
              <div class="py-3 px-3">
                <span class="font-bold text-gray-800 text-lg">{{kitchen_name}}</span>
                <p class="text-gray-800 text-m font-semibold">{{location}}</p>
                <p class="text-xs mb-2 font-semibold">{{neighborhood}}</p>
                <div class="py-2 px-2">
                    <p class="text-xs mb-1">{{cuisine}} Cuisine</p>
                    <p class="text-xs mb-2 font-semibold ">{{description}}</p>
                    <p class="text-xs">Delivery Radius: {{delivery_radius}} Miles </p>
                    <p class="text-xs">Delivery time: {{delivery_time}} Mins</p>
                    <br>
                    {{#if available}}
                    <a href="/kitchen/{{id}}">View Menu</a>
                    {{else}}
                    <p>Currently Closed</p>
                    {{/if}}
                </div>
              </div>
            </div>       
</div>
{{!-- END KITCHEN CARD  --}}
{{/each}}
</div>
{{else}}
<h1 class="text-center">Sorry - There are no kitchens in your City</h1>
<br>
{{/if}}



{{/if}}


